@model eTrak.Dal.Models.Domain
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enquiry Domains</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdName)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.sdIsPriorityDomain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityDomain)
        </dd>

     </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sdCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>

