@model eTrak.Dal.Models.BudgetCategory

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BudgetCategory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.bcCode)

        <div class="form-group">
            @Html.LabelFor(model => model.bcDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ValidationMessage("DuplicateError", "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.bcDescription, new {htmlAttributes = new {@class = "form-control",@onkeyup = "attrMaxLength(this,'#bcDescription')" }})
                @Html.ValidationMessageFor(model => model.bcDescription, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bcStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bcStatus, new { htmlAttributes = new { @class = "form-control", @onkeyup = "attrConvertToUpper(this,'#bcStatus')" } })
                @Html.ValidationMessageFor(model => model.bcStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
