@model eTrak.Dal.Models.GuestServiceReason

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Guest Service Reason</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GsrDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GsrDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GsrStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GsrStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GsrId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
