@model eTrak.Dal.Models.ClientVariable

@{
    ViewBag.Title = "Details";
}

<h4>Client Variables</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cvFieldName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvFieldName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cvStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cvId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
